
@{
    ViewBag.Title = "AboutMe";
}
<h1>My Biography: Hector Nhlabathi.</h1>
<h4>University of Pretoria Final Year BIS Information Science Student. Hector Nhlabathi.</h4>

<div class="container" style=" background-color: lightblue">
    <div class="row">
        <div class="col-lg-6">
            <h3>Bio</h3>
            <p>
                It may seem like University students lack experience in their field, but a
                good professional biography can bring the right perspective to
                prospective employers. Young people with technological savvy and
                the right attitude are valuable assets in the workforce or working industry.
                Hector Nhlabathi links his modules to their target audiences for
                the perfect selection experience. At the University of Pretoria, South Africa,
                one of the best Universities in Africa. Hector Nhlabathi learns the importance
                of applying coding/programming skills and challenges himself by dealing with complex
                programming languages such as javascript, jQuery, html and some advanced programming skills,
                as well as techniques to modern brand strategies from experts in the field,
                including his programming lectures such as, Dr. Matthe, Mr. Zola, Dr Tendani and Mr. Phil.
                Recently they began marking a semester test paper on html, css, bootstrap, mvc,
                javascript, jQuery, and responsive web design. The semester tests is out of 30 marks
                Hector Nhlabathi is currently finishing his Bachelor of Information Science 
                (BIS Information Science) and hopes to intern in a web developing company and IT solutions
                in the near future.
            </p>

            
        </div>
        <div class="col-lg-6">
            <h3>Hector</h3>
            <img src="~/img/Hector.jpeg" style=" height: 300px" />
        </div>
    </div>
</div>

